<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body">
          <!-- Only change code above this line. -->
          <div class="container-fluid">
            <div class="jumbotron">
              <div class="row justify-content-center">
                <div class="col-md-12">
                  <div class="well" id="right-well">
                    <p class="text-justify text-info">This application is a text archiving application for the commemoration of the Indonesian Independence Day speech
                      <span class="text-warning">for now it is private only mimin can access, in the future it can be public access after all speech texts are collected</span></p>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="well" id="left-well">
                    <h1 class="text-center text-danger" id="heading-1">77th independence day  Republik Indonesia </h1>
                    <h3 class="text-center"id="heading-3">"Pulih Lebih Cepat, Bangkit Lebih Kuat"</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="row pt-3 ml-5">
              <div class="col-md-12">
                <div class="well">
                  <h5>List President:</h5>
                  <ul>
                    <li><strong>1</strong> - Soekarno (1945-1967)</li>
                    <li><strong>2</strong> - Soeharto (1967-1998)</li>
                    <li><strong>3</strong> - Bacharuddin Jusuf Habibie (1998-1999)</li>
                    <li><strong>4</strong> - Abdurrahman Wahid (1999-2001)</li>
                    <li><strong>5</strong> -  Megawati Soekarnoputri (2001-2004),</li>
                    <li><strong>6</strong> - Susilo Bambang Yudhoyono (2004-2009; 2009-2014)</li>
                    <li><strong>7</strong> - Joko Widodo (2014-2019)</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
